<h2 mat-dialog-title>Alta masiva de paquetes</h2>
<mat-dialog-content class="mat-typography" fxFill fxLayout="column">
  <form [formGroup]="formArchivo" fxLayout="row" fxLayoutAlign="space-evenly end" >
    <mat-form-field fxFlex="79">
      <ngx-mat-file-input #removableInput
                          formControlName="file"
                          placeholder="Archivo Excel"
                          [accept]="['application/vnd.ms-excel', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet']"
      ></ngx-mat-file-input>
      <button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
        <mat-icon>clear</mat-icon>
      </button>
      <button mat-icon-button matSuffix *ngIf="removableInput.empty">
        <fa-icon [icon]="faFileExcel"></fa-icon>
      </button>
    </mat-form-field>
    <button fxFlex="19" mat-raised-button class="btn-procesar" color="accent" (click)="subir()">Procesar</button>
  </form>
  <table fxFill mat-table [dataSource]="paquetesImportados">
    <!-- orden Column -->
    <ng-container matColumnDef="orden">
      <mat-header-cell *matHeaderCellDef [ngClass]="'w-50'"> Fila </mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="'w-50'"> {{element.orden}} </mat-cell>
    </ng-container>

    <!-- casilla Column -->
    <ng-container matColumnDef="casilla">
      <mat-header-cell *matHeaderCellDef [ngClass]="'w-100'"> Casilla </mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="'w-100'"> {{element.p.casilla}} </mat-cell>
    </ng-container>

    <!-- cliente Column -->
    <ng-container matColumnDef="cliente">
      <mat-header-cell *matHeaderCellDef> Cliente </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.p.clienteNombreApellido}} </mat-cell>
    </ng-container>

    <!-- Tracking Column -->
    <ng-container matColumnDef="trackPaquete">
      <mat-header-cell *matHeaderCellDef> Tracking </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.p.numeroTracking}} </mat-cell>
    </ng-container>

    <!-- estadoImportado Column -->
    <ng-container matColumnDef="estadoImportado">
      <mat-header-cell *matHeaderCellDef [ngClass]="'w-50'"> Estado </mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="'w-50'">
        <mat-icon *ngIf="element.result===-1" color="primary">error</mat-icon>
        <mat-icon *ngIf="element.result===0" color="success">check_circle</mat-icon>
        <mat-icon *ngIf="element.result===1" color="warn">warning</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Seleccione el archivo para importar los datos</td>
    </tr>

  </table>


</mat-dialog-content>
<mat-dialog-actions  fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxFlexAlign="space-around none">
      <mat-icon color="success">check_circle</mat-icon> Exitoso &nbsp;&nbsp;
      <mat-icon color="warn">warning</mat-icon> Duplicado &nbsp;&nbsp;
      <mat-icon color="primary">error</mat-icon> Error
  </div>
  <div>
      <button mat-button mat-dialog-close color="accent">Aceptar</button>
  </div>
</mat-dialog-actions>
