<h1>Paquetes</h1>
<app-buscar-paquete></app-buscar-paquete>

<br />

<app-resultado-paquete></app-resultado-paquete>

<br><br><br>

<eco-fab-speed-dial class="fab">
  <eco-fab-speed-dial-trigger>
    <button mat-fab (click)="doAction('trigger')"><mat-icon>more_vert</mat-icon></button>
  </eco-fab-speed-dial-trigger>

  <eco-fab-speed-dial-actions>
    <button mat-mini-fab (click)="doAction('add')"><mat-icon>add</mat-icon></button>
    <button mat-mini-fab (click)="doAction('excel')"><fa-icon [icon]="faFileExcel"></fa-icon></button>
  </eco-fab-speed-dial-actions>
</eco-fab-speed-dial>
