<h1>Recepción</h1>
<mat-card>
    <div
      gdAreas="sucursal track | paquete rastreo | botones botones"
      gdColumns="30% auto"
      gdGap = "25px"
      >
    <div class="one" gdArea="sucursal" >
      <!-- AREA DE IZQUIERDA -->
      <mat-form-field  fxLayout="column"  fxLayoutAlign="stretch">
        <mat-select [(value)]="idSucursal" (valueChange)="setNotificacion()">
          <mat-option *ngFor="let s of sucursales" [value]="s.i">
            {{s.n}}
          </mat-option>
        </mat-select>
        <mat-label>Sucursal Destino</mat-label>
      </mat-form-field>
    </div>
    <div gdArea="track" fxLayout="column"  fxLayoutAlign="stretch">
      <!-- AREA DERECHA -->
      <mat-form-field>
        <mat-label>Tracking Paquete:</mat-label>
        <input matInput (keyup)="find($event)" name="numeroRastreo" [(ngModel)]="numeroRastreo">
      </mat-form-field>
    </div>
    <div gdArea="paquete" fxLayout="column"  fxLayoutAlign="stretch">
      <h2>Recepcionar Paquete</h2>
      <mat-form-field>
        <mat-label>Tracking paquete</mat-label>
        <input matInput [readonly]="true" name="numeroTracking" [(ngModel)]="paquete.numeroTracking">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Fecha de ingreso</mat-label>
        <input matInput [readonly]="true" name="ingreso" [(ngModel)]="paquete.ingreso">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Sucursal de destino</mat-label>
        <input matInput [readonly]="true" name="destino" [(ngModel)]="paquete.destino">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Sucursal actual</mat-label>
        <input matInput [readonly]="true" name="sucursalActual" [(ngModel)]="paquete.sucursalActual">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Casilla</mat-label>
        <input matInput [readonly]="true" name="casilla" [(ngModel)]="paquete.casilla">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Vuelo</mat-label>
        <input matInput [readonly]="true" name="vuelo" [(ngModel)]="paquete.vuelo">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Descripción</mat-label>
        <input matInput [readonly]="true" name="descripcion" [(ngModel)]="paquete.descripcion">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Estado</mat-label>
        <input matInput [readonly]="true" name="idEstado" [(ngModel)]="estado">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Peso (gramos)</mat-label>
        <input matInput [readonly]="true" name="peso" [(ngModel)]="paquete.peso">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Longitud (cm)</mat-label>
        <input matInput [readonly]="true" name="longitud" [(ngModel)]="paquete.longitud">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Altura (cm)</mat-label>
        <input matInput [readonly]="true" name="altura" [(ngModel)]="paquete.altura">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ancho (cm)</mat-label>
        <input matInput [readonly]="true" name="ancho" [(ngModel)]="paquete.ancho">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Volumen (cm3)</mat-label>
        <input matInput [readonly]="true" name="volumen" [(ngModel)]="paquete.volumen">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Valor (USD)</mat-label>
        <input matInput [readonly]="true" name="precio" [(ngModel)]="paquete.precio">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Monto Total (USD)</mat-label>
        <input matInput [readonly]="true" name="montoTotal" [(ngModel)]="montoTotal">
      </mat-form-field>
    </div>
    <div gdArea="rastreo" fxLayout="column"  fxLayoutAlign="stretch">
      <h2>Rastreo</h2>
      <table mat-table [dataSource]="dummySource">
        <!-- Usuario Column -->
        <ng-container matColumnDef="usuario">
          <mat-header-cell *matHeaderCellDef> Usuario </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.usuario}} </mat-cell>
        </ng-container>

        <!-- Fecha/Hora Column -->
        <ng-container matColumnDef="fechaHora">
          <mat-header-cell *matHeaderCellDef > Fecha/Hora </mat-header-cell>
          <mat-cell *matCellDef="let element" > {{element.fechaHora|date:'dd/MM/yyyy HH:mm'}} </mat-cell>
        </ng-container>

        <!-- Destino Column -->
        <ng-container matColumnDef="sucursal">
          <mat-header-cell *matHeaderCellDef > Destino </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{sucursalMap.get(element.idSucursal).n}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </table>
      <div *ngIf="!!!dummySource || dummySource.length === 0" style="padding: 10px">
        Realice una busqueda por número de tracking
      </div><br /><br />
      <h2 *ngIf="!!paquete.lat && !!paquete.lng">El cliente solicitó delivery</h2>
      <div #mapElement [ngClass]="{'map' : !!paquete.lat && !!paquete.lng}"></div>
      <h2>Notificación</h2>
      <div [style.border]="'1px'" [innerHTML]="notificacionTransporte"></div>
      <div [style.border]="'1px'" [innerHTML]="notificacionFinal"></div>
    </div>
    <div gdArea="botones" fxLayout="row" fxLayoutAlign="end center" >
      <button mat-button color="primary">Cancelar</button>
      <button mat-button color="accent"
              (click)="mover()"
              [disabled]="!!!this.idSucursal || !!!this.paquete || !!!this.paquete.idSucursalDestino || this.cargando"
      >Guardar</button>
    </div>
  </div>
</mat-card>
<br /><br /><br />
