<mat-card class="card">
  <mat-card-header class="card-header primary">
    <mat-card-title>Resultados</mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-body">
    <table mat-table fxFill [dataSource]="dummySource">
      <!-- casilla Column -->
      <ng-container matColumnDef="casilla">
        <mat-header-cell *matHeaderCellDef [ngClass]="'w-75'"> Casilla </mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="'w-75'"> {{element.casilla}} </mat-cell>
      </ng-container>

      <!-- cliente Column -->
      <ng-container matColumnDef="clienteNombreApellido">
        <mat-header-cell *matHeaderCellDef> Cliente </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.clienteNombreApellido}} </mat-cell>
      </ng-container>

      <!-- trackPaquete Column -->
      <ng-container matColumnDef="numeroTracking">
        <mat-header-cell *matHeaderCellDef> Tracking Paquete </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.numeroTracking}} </mat-cell>
      </ng-container>

      <!-- trackProveedor Column -->
      <ng-container matColumnDef="codigoExterno">
        <mat-header-cell *matHeaderCellDef> Tracking Proveedor </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.codigoExterno}} </mat-cell>
      </ng-container>

      <!-- ingreso Column -->
      <ng-container matColumnDef="ingreso">
        <mat-header-cell *matHeaderCellDef [ngClass]="'w-100'"> Ingreso </mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="'w-100'"> {{element.ingreso|date:'shortDate'}} </mat-cell>
      </ng-container>

      <!-- destino Column -->
      <ng-container matColumnDef="destino">
        <mat-header-cell *matHeaderCellDef> Destino </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.destino}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Su búsqueda no arrojó resultados</td>
      </tr>

    </table>
    <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
  </mat-card-content>
  <mat-card-actions>

  </mat-card-actions>
</mat-card>
