<mat-nav-list>
  <!--div class="profile-card">
    <div class="header">
      <h2>Francisco</h2>
      <h4>francisco@gmail.com</h4>
    </div>
    <img src="./assets/img/user-profile.png" alt="">
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2-->
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <img src="./assets/img/buybox.svg" width="250" style="margin-bottom: 15px;" alt="">
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Menu</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/recepcion">
    <mat-icon>local_shipping</mat-icon>
    Recepción
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/paquetes">
    <mat-icon>widgets</mat-icon>
    Paquete
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/clientes">
    <mat-icon>people</mat-icon>
    Clientes
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/productos">
    <mat-icon>shopping_basket</mat-icon>
    Productos
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/destinos">
    <mat-icon>alt_route</mat-icon>
    Destinos
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/reportes">
    <mat-icon>timeline</mat-icon>
    Reportes
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/usuarios">
    <mat-icon>assignment_ind</mat-icon>
    Usuarios
  </a>

</mat-nav-list>
