:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-sidenav {
  width: 350px;
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("~src/assets/img/menu-back.jpg");
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav-content {
  padding: 20px;
}
