<mat-card class="card">
  <mat-card-header class="card-header primary">
    <mat-card-title>Clientes</mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-body">
    <table mat-table fxFill [dataSource]="dummySource">
      <!-- casilla Column -->
      <ng-container matColumnDef="casilla">
        <mat-header-cell *matHeaderCellDef [ngClass]="'w-100'"> Casilla </mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="'w-100'"> {{element.casilla}} </mat-cell>
      </ng-container>

      <!-- clienteNombreApellido Column -->
      <ng-container matColumnDef="clienteNombreApellido">
        <mat-header-cell *matHeaderCellDef> Cliente </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.apellido}}, {{element.nombre}} </mat-cell>
      </ng-container>

      <!-- cedula Column -->
      <ng-container matColumnDef="cedula">
        <mat-header-cell *matHeaderCellDef [ngClass]="'w-100'"> Cedula/Ruc </mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="'w-100'"> {{element.ruc}} </mat-cell>
      </ng-container>

      <!-- correo Column -->
      <ng-container matColumnDef="correo">
        <mat-header-cell *matHeaderCellDef> Correo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.correo}} </mat-cell>
      </ng-container>

      <!-- segmento Column -->
      <ng-container matColumnDef="segmento">
        <mat-header-cell *matHeaderCellDef [ngClass]="'w-100'"> Segmento </mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="'w-100'"> {{segmentoMap.get(element.idSegmento).n}} </mat-cell>
      </ng-container>

      <!-- acciones Column -->
      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef [ngClass]="'w-50'"> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="'w-50'">
          <button mat-icon-button color="accent" aria-label="Editar" (click)="editar(element)">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Su búsqueda no arrojó resultados</td>
      </tr>

    </table>
    <div *ngIf="!!!dummySource || dummySource.length === 0" style="padding: 10px">
      Su busqueda no arrojó resultados
    </div>
    <mat-paginator [pageSize]="pageSize" [pageIndex]="pageNumber" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons [length]="total" (page)="changePage($event)"></mat-paginator>

  </mat-card-content>
  <mat-card-actions>

  </mat-card-actions>
</mat-card>
