/* For use in src/lib/core/theming/_palette.scss */
$md-bb-red: (
  50 : #ffe6e6,
  100 : #ffc2c0,
  200 : #ff9996,
  300 : #ff706c,
  400 : #ff514d,
  500 : #ff322d,
  600 : #ff2d28,
  700 : #ff2622,
  800 : #ff1f1c,
  900 : #ff1311,
  A100 : #ffffff,
  A200 : #fff8f8,
  A400 : #ffc6c5,
  A700 : #ffacac,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-bb-green: (
  50 : #edf7e0,
  100 : #d3eab3,
  200 : #b5dd80,
  300 : #97cf4d,
  400 : #81c426,
  500 : #6bba00,
  600 : #63b300,
  700 : #58ab00,
  800 : #4ea300,
  900 : #3c9400,
  A100 : #d4ffbf,
  A200 : #b2ff8c,
  A400 : #8fff59,
  A700 : #7eff40,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-bb-yellow: (
  50 : #fff6e1,
  100 : #ffe8b4,
  200 : #ffd982,
  300 : #fec950,
  400 : #febe2b,
  500 : #feb205,
  600 : #feab04,
  700 : #fea204,
  800 : #fe9903,
  900 : #fd8a01,
  A100 : #ffffff,
  A200 : #fff8f1,
  A400 : #ffdebe,
  A700 : #ffd1a4,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-bb-blue: (
  50 : #e1ecfb,
  100 : #b3d0f5,
  200 : #81b1ee,
  300 : #4e91e7,
  400 : #287ae2,
  500 : #0262dd,
  600 : #025ad9,
  700 : #0150d4,
  800 : #0146cf,
  900 : #0134c7,
  A100 : #eff2ff,
  A200 : #bcc9ff,
  A400 : #89a0ff,
  A700 : #6f8bff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
