
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

@import "./buybox-color";

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tracking-system-primary: mat-palette($md-bb-red);
$tracking-system-accent: mat-palette($md-bb-blue, 500, A100, A400);
$tracking-system-success: mat-palette($md-bb-green);

// The warn palette is optional (defaults to red).
$tracking-system-warn: mat-palette($md-bb-yellow);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$tracking-system-theme: mat-light-theme((
  color: (
    primary: $tracking-system-primary,
    accent: $tracking-system-accent,
    warn: $tracking-system-warn
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($tracking-system-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
